PORT=3000
FRONTEND_URL=http://localhost:5173

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC=coldchain/veiculo01/telemetria

DB_HOST=seu-endpoint-rds.amazonaws.com
DB_PORT=5432
DB_NAME=nome_do_banco
DB_USER=usuario_do_banco
DB_PASSWORD=sua_senha_aqui
DB_SSL=true

AWS_REGION=us-east-1
S3_BUCKET_NAME=s3-bucket-projeto-fabio-temaj
